{
  "name": "${NAME}",
  "version": "${VERSION}",
  "description": "${DESC}",
  "author": {
    "name": "${AUTHOR_NAME}",
    "url": "${AUTHOR_URL}"
  },
  "repository": "${REPOSITORY}",
  "license": "${LICENSE}",
  "category": "${CATEGORY}"
}
